#root {
  height: 100dvh;
  width: 100dvw;
}

.popoverStyled.ant-popover .ant-popover-inner {
  padding: 0px;
  margin-top: -10px;
}

.popoverStyled.ant-popover .ant-popover-contant {
  padding: 0px;
}

.popoverStyled.ant-popover-placement-bottomLeft,
.popoverStyled.ant-popover-placement-bottom,
.popoverStyled.ant-popover-placement-bottomRight {
  padding: 5px;
}

.popoverStyled.ant-popover.ant-popover-placement-bottomLeft .ant-popover-arrow,
.popoverStyled.ant-popover.ant-popover-placement-bottom .ant-popover-arrow,
.popoverStyled.ant-popover.ant-popover-placement-top .ant-popover-arrow,
.popoverStyled.ant-popover.ant-popover-placement-bottomRight
  .ant-popover-arrow {
  display: none;
}

.rangercalender.ant-picker-dropdown .ant-picker-panel-container {
  box-shadow: none;
  margin-top: 0px;
}

.SortByPopoverClass .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  flex-direction: row-reverse;
  padding: 12px 8px 12px 8px;
  color: #333333;
  background-color: white;
}

.SortByPopoverClass .ant-select-item-option-selected:not(.ant-select-item-option-disabled).ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  flex-direction: row-reverse;
  padding: 12px 8px 12px 8px;
  color: #333333;
  background-color: white;
  font-weight: 400;
}

.SortByPopoverClass .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  height: 10px;
}

.SortByPopoverClass .ant-select-item-option {
  padding: 12px 8px 12px 32px;
  display: flex;
  align-items: center;
}

.SortByPopoverClass .check {
  margin: 2px 6px 0px 0px;
  color: #333333;
  font-size: 16px;
}

.SortByPopoverClass .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #F2F0FF;
  color: #7D69FF;
}

body {
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}